<section class="py-24">
  <div class="max-w-5xl mx-auto px-6 text-center">
    <!-- <h1 class="text-4xl md:text-6xl font-bold tracking-tight">-->
    <h1 class="text-6xl text-red-500 font-bold">
      Engineering Systems.<br />
      Building Software.
    </h1>

    <p class="mt-6 text-lg text-gray-600 max-w-2xl mx-auto">
      Senior RPA Developer in banking. Background in robotics and metrology.
      Currently transitioning into modern frontend and full-stack engineering.
    </p>

    <div class="mt-8 flex justify-center gap-4">
      <a href="#projects" class="px-6 py-3 bg-black text-white rounded-lg">
        View Projects
      </a>
      <a
        href="https://github.com/MaxOssowski"
        target="_blank"
        class="px-6 py-3 border rounded-lg"
      >
        GitHub
      </a>
    </div>
  </div>
</section>
